body {
    margin: 0;
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10rem 1fr 30rem;
}
header {
    grid-column: 1 / end; 
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.header-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #03a3df;
    padding: 5%;
    padding-left: 15%;
    min-width: 322px;
}
.header-link {
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #03a3df;
}
/* div.header-logo {
    background-color: #03a3df;
    padding: 5%;
    min-width: 322px;
} */
/* div.header-link {
    background-color: #03a3df;
    /* display: grid;  
} */ 
div.header-link nav {
    background-color: #03a3df;
    font-family: Arial, sans-serif;
}
div.header-link nav ul {
    justify-content: space-evenly;
    display: flex; 
    list-style: none;
    margin: 0;
    padding-top: 10%;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 0;
}
a.header-link {
    color: white;
    text-decoration: none;
}
a.header-link:hover {
    opacity: 0.5;
}
section.home-about {
    grid-column: 1 /4;
    grid-row: 2;
    padding-left: 7.5%;
    padding-top: 5%;
}
section.home-about h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
section.home-about p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
aside.home-info {
    grid-column: 4 / end;
    grid-row: 2;
    text-align: center;
    padding-top: 10%;
}
aside.home-info h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}
aside.home-info p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.home-about {
    padding-bottom: 10%;
}
#contact-info {
    padding-bottom: 1rem;
}
footer {
    grid-column: 1 /end;
    grid-row: 3;
    background-image: url("../images/footerImage.jpg");
    color: white;
    box-sizing: border-box;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
div.policy p {
    font-size: 12px;
}
div.social-media ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    padding-bottom: 3rem;
    justify-content: space-between; 
    width: 50%;
}
a.footer-link {
    color: white; 
    text-decoration: none;
}
a.footer-link:hover {
    opacity: 0.5;
}